<div class="container-fluid py-5 bg-black">
    <div class="row">
        <div class="col-4 offset-2">
            <img class="img-fluid" src="https://picsum.photos/seed/image4/600/400">
        </div>
        <div class="col-4 d-flex flex-wrap align-items-center">
            <div class="card bg-transparent border-0 text-white">
                <div class="card-body">
                    <h1 class="card-title">Expand with Patterns</h1>
                    <p class="card-text fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                        ullamcorper mattis, pulvinar dapibus leo.</p>
                    <button class="btn btn-primary btn-lg">Learn More</button>
                    <button class="btn btn-outline-light btn-lg">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</div>