    <div class="container-fluid px-0 py-5 bg-primary">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card bg-transparent border-0">
              <h1 class="bg-primary rounded-circle text-center text-white" style="font-size: 5em; width:100px; height: 100px;">
                <img
                  class="img-fluid rounded-circle"
                  style="width: 100px; height: 100px;"
                  src="https://thispersondoesnotexist.com?r=1"
                  alt="">
              </h1>
              <div class="card-body text-white">
                <p class="card-text">“…Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                  mattis…”</p>
                <h5 class="card-title bold text-uppercase">John Doe</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-transparent border-0">
              <h1 class="bg-primary rounded-circle text-center text-white" style="font-size: 5em; width:100px; height: 100px;">
                <img
                  class="img-fluid rounded-circle"
                  style="width: 100px; height: 100px;"
                  src="https://thispersondoesnotexist.com?r=1"
                  alt="">
              </h1>
              <div class="card-body text-white">
                <p class="card-text">“…Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                  mattis…”
                </p>
                <h5 class="card-title bold text-uppercase">Jane Doe</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-transparent border-0">
              <h1 class="bg-primary rounded-circle text-center text-white" style="font-size: 5em; width:100px; height: 100px;">
                <img
                  class="img-fluid rounded-circle"
                  style="width: 100px; height: 100px;"
                  src="https://thispersondoesnotexist.com?r=1"
                  alt="">
              </h1>
              <div class="card-body text-white">
                <p class="card-text">“…Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                  mattis…”</p>
                <h5 class="card-title bold text-uppercase">Maria Doe</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>