{% extends 'src/partials/layout.njk' %}
{% block content %}
  <div class="container">
    <h1>Patterns</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, earum? Recusandae, aliquam at. Provident possimus a
      autem nisi soluta aliquid. Voluptatibus dicta officia aliquid placeat odio! Architecto minus quo exercitationem. Eveniet
      pariatur, sed hic obcaecati illo voluptate voluptatibus dolorem incidunt. Fugit, omnis illo. Nobis amet repellat
      praesentium provident sit fugit. Magnam quos impedit iste totam id qui quibusdam, voluptatibus molestiae. Consequuntur
      alias magnam quis est accusantium facere eos velit illum! Fugiat vitae quae at et a provident modi rerum numquam!
      Accusantium ducimus unde eos. Minus accusamus consequuntur corporis sed sunt! Incidunt autem dolor delectus ratione
      excepturi qui eligendi nulla dignissimos!</p>
  </div>
{% endblock %}